<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main class="abbv-main-comment">
        <section class="abbv-main-profile">
            <app-profile-info></app-profile-info>
            <section class="abbv-card-gen">
                <h2 class="abbv-h2-title">More stories from #CRM</h2>
                <div class="abbv-card-cont">
                    <app-employee-card-profile></app-employee-card-profile>
                    <app-employee-card-profile></app-employee-card-profile>
                    <app-employee-card-profile></app-employee-card-profile>
                </div>
            </section>
        </section>
        <section class="abbv-right-cont">
            <aside class=" abbv-comment-gen">
                <app-comment-section></app-comment-section>
            </aside>
        </section>
    </main>
</body>
</html>