@font-face {
  font-family: "Roboto Regular";
  src: url("./Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./Roboto-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
