<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <main>
        <section class="button-container">
            <app-buttons buttonClass="primary-button-small"
                [label]="'Do you want to search for your story?'"></app-buttons>
            <app-buttons buttonClass="primary-button-small"
                [label]="'Do you want to search for your story?'"></app-buttons>
        </section>
        <section class="abbv-input-comment">
            <label class="abbv-label">Enter a comment
                <input class="abbv-comment" type="text">
            </label>
        </section>
        <section class="abbv-comment-cont">
            <article class="abbv-comment">
                <header class="abbv-header-cont">
                    <h6 class="abbv-title-h6">John Doe /</h6><span class="abbv-date">21-03-2024</span>
                </header>
                <p class="abbv-comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </article>
            <article class="abbv-comment">
                <header class="abbv-header-cont">
                    <h6 class="abbv-title-h6">John Doe /</h6><span class="abbv-date">21-03-2024</span>
                </header>
                <p class="abbv-comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </article>
            <article class="abbv-comment">
                <header class="abbv-header-cont">
                    <h6 class="abbv-title-h6">John Doe /</h6><span class="abbv-date">21-03-2024</span>
                </header>
                <p class="abbv-comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </article>
            <article class="abbv-comment">
                <header class="abbv-header-cont">
                    <h6 class="abbv-title-h6">John Doe /</h6><span class="abbv-date">21-03-2024</span>
                </header>
                <p class="abbv-comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </article>
        </section>
    </main>
</body>

</html>