:root {
    --abbv-primary: 7, 29, 73;
    --abbv-secondary: 255, 255, 255;

/*neutrals*/

    --abbv-neutral-40: 7, 29, 73, 0.4;
    --abbv-neutral-30: 7, 29, 73, 0.3;
    --abbv-neutral-20: 7, 29, 73, 0.2;
    --abbv-neutral-10: 7, 29, 73, 0.1;
}