<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <main class="abbv-container-profile">
        <section class="abbv-big-profile-cont">
            <figure class="abbv-profile-cont">
                <img class="abbv-img-big" src="../../../../assets/Images/employee-profile-big.png">
            </figure>
            <section class="abbv-title-cont">
                <div class="abbv-name-pos-cont">
                    <span class="abbv-name-pos">Jane Doe - Management consultant</span>
                    <span class="abbv-hashtag">#CRM</span>
                </div>
                <div class="abbv-heading-cont">
                    <h1 class="abbv-profile-title">Lorem ipsum dolor sit amet</h1>
                </div>
                <section class="abbv-icon-cont">
                    <svg class="abbv-icon" width="24" height="25" viewBox="0 0 24 25" fill="none"
                        xmlns="http://www.w3.org/2000/svg" (click)="toggleColor()">
                        <path id="svg-path" [ngClass]="{'clicked': isClicked}"
                            d="M7 11.5L11 2.5C11.7956 2.5 12.5587 2.81607 13.1213 3.37868C13.6839 3.94129 14 4.70435 14 5.5V9.5H19.66C19.9499 9.49672 20.2371 9.5565 20.5016 9.67522C20.7661 9.79393 21.0016 9.96873 21.1919 10.1875C21.3821 10.4063 21.5225 10.6638 21.6033 10.9423C21.6842 11.2207 21.7035 11.5134 21.66 11.8L20.28 20.8C20.2077 21.2769 19.9654 21.7116 19.5979 22.024C19.2304 22.3364 18.7623 22.5055 18.28 22.5H7M7 11.5V22.5M7 11.5H4C3.46957 11.5 2.96086 11.7107 2.58579 12.0858C2.21071 12.4609 2 12.9696 2 13.5V20.5C2 21.0304 2.21071 21.5391 2.58579 21.9142C2.96086 22.2893 3.46957 22.5 4 22.5H7"
                            stroke="#071D49" stroke-opacity="0.5" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <span class="abbv-likes">2.51K Likes</span>
                </section>
            </section>
        </section>
        <section class="abbv-profile-story">
            <p class="abbv-story">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </section>
    </main>
</body>

</html>