@use '../../../../styles/abstract/abstract' as *;

.abbv-container {
    margin: 0;
}

.abbv-card-body {
    border: 2px solid rgb(var(--abbv-neutral-10));
    max-width: to-rem($size-key * 81.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: to-rem($spacer-xxs2) to-rem($spacer-md);
    gap: to-rem($spacer-md);

    .abbv-comment {
        width: 100%;
    }
}

.abbv-employee-desc{
    line-height: $line-height-m;
    color: rgb(var(--abbv-primary));
}

.primary-button {
    width: 100%;
    padding: to-rem($spacer-xs);
    border: 2px solid rgb(var(--abbv-primary));
    background-color: rgb(var(--abbv-secondary));
    transition: 0.5s ease-in-out 3ms;
    cursor: pointer;
}

.primary-button:hover {
    background-color: rgb(var(--abbv-primary));
    color: rgb(var(--abbv-secondary));
}

.abbv-icon #svg-path.clicked{
    stroke: rgb(var(--abbv-primary));
    stroke-opacity: 1;
}

.abbv-crm-cont{
    background-color: rgb(var(--abbv-primary));
    padding: to-rem($spacer-xs);
    width: to-rem($size-key * 35.25);
    display: flex;
    justify-content: center;
    color: rgb(var(--abbv-secondary));
}

.abbv-img-section {
    display: flex;
    align-items: flex-end;
    gap: to-rem($spacer-sm);
    margin-left: to-rem($spacer-xxl);
}

input {
    background-color: rgb(var(--abbv-secondary));
    border: 0;
    border-bottom: 2px solid rgb(var(--abbv-primary));
}
 .abbv-label {
    color: rgb(var(--abbv-primary));
    font-weight: bold;
 }