<section class="abbv-banner-cont">
    <app-banner></app-banner>
</section>
<section class="abbv-btn-cont">
    <app-buttons buttonClass="primary-button" [label]="'Do you want to search for your story?'"></app-buttons>
    <app-buttons buttonClass="primary-button" [label]="'Do you want to search for your story?'"></app-buttons>
</section>
<section class="abbv-subtitle-cont">
    <h2 class="abbv-subtitle">Latest stories</h2>
</section>
<section class="abbv-card-cont">
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
</section>