@use '../../../../styles/abstract/abstract' as *;

.abbv-btn-cont {
    display: flex;
    margin: to-rem($spacer-4xl) to-rem($spacer-xxl);
    gap: to-rem($spacer-xl);


    @media screen and (max-width: 850px) {
        flex-direction: column;
        align-items: center;
        margin: to-rem($spacer-xxl) to-rem($spacer-md2);
    }
}

app-buttons {
    @media screen and (max-width: 850px) {
        width: 100%;
    }
}

.abbv-subtitle-cont {
    margin: 0 to-rem($spacer-xxl) to-rem($spacer-4xl) to-rem($spacer-xxl);

    .abbv-subtitle {
        color: rgb(var(--abbv-primary));
    }

    @media screen and (max-width: 850px) {
        margin-left: to-rem($spacer-md2);
    }
}

.abbv-card-cont {
    display: flex;
    gap: to-rem($spacer-xxl);
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 to-rem($spacer-xl) to-rem($spacer-xl) to-rem($spacer-xl);

    @media screen and (max-width: 850px) {
        margin: 0 to-rem($spacer-md2);
    }
}