@use "../../../../styles/abstract/abstract" as *;

.abbv-banner {
    background-color: rgb(var(--abbv-primary));
    color: rgb(var(--abbv-secondary));
    padding: to-rem($spacer-4xl) 0;
    border-top-left-radius: to-rem($size-key * 25);
    margin: 0 to-rem($spacer-xxl);

    @media screen and (max-width: 850px) {
        border-radius: 0;
        margin: 0;
    }
}

h1 {
    text-align: center;
    font-size: $font-size-hd-l;

    @media screen and (max-width: 850px) {
        font-size: $font-size-hd-s;
    }
}